.container {
    background: ghostwhite;
    padding: 10px;
    border-radius: 5px;
    height: 89vh;
    //margin: 10px;
    // border-radius: 15px;
    //min-width: 100%;
}

.table-header {
    th {
        text-align: center;
        background: gray;
    }
}


